<ion-view hide-tabs="true">
    <ion-nav-title>
        <div class="bar bar-positive">
            <div class="button-bar nav-bar">
                <a class="button">关于卡得</a>
            </div>
        </div>
    </ion-nav-title>
    <ion-content class="xn-content">
        <div style="margin:16px;">
            <span style="font-size:16px;font-weight:bold; color: #4b8bf4">写给卡得用户：</span>
            <div style="margin-top:10px; font-size:16px">
                <p style="margin-left:10px">你的商务专属</p>
                <p style="margin-left:10px"></p>
                <p style="margin-left:10px"></p>
            </div>
        </div>
    </ion-content>
</ion-view>
