<ion-view hide-tabs="true">
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button">认证我的公司</a>
      </div>
    </div>
  </ion-nav-title>

  <ion-content class="bg-gray xn-content">
    <div class="company-title  gap-1">
      <div style="margin-left: 10px">
        <span>第一步：填写公司基本资料</span>
      </div>
    </div>

    <div class="input-item gap-10">
      <input style="width:98%; height:100%; margin-left:3px; text-align:center;" type="text" placeholder="请输入您的公司名字">
    </div>

    <div class="input-item gap-5">
      <input style="width:98%; height:100%; margin-left:3px;text-align:center;" type="text" placeholder="请选择您的公司所属行业">
    </div>

    <div class="input-item gap-5">
      <input style="width:98%; height:100%; margin-left:3px;text-align:center;" type="text" placeholder="请选择你公司所在地">
    </div>

    <div class="input-item gap-5">
      <input style="width:98%; height:100%; margin-left:3px;text-align:center;" type="text" placeholder="请输入您公司的详细地址">
    </div>

    <div class="input-item gap-5">
      <input style="width:98%; height:100%; margin-left:3px;text-align:center;" type="text" placeholder="请填写您的公司的简介">
    </div>

    <div class="class = company-auth-button gap-100">
      <a href="#/tab/authCompanyTwo">
        <button class="auth-button">下一步</button>
      </a>
    </div>

  </ion-content>

</ion-view>