<ion-view id="customerInfo">
	<ion-nav-title>
    <div class="bar">
      <div class="button-bar nav-bar">
        <a class="button" nav-transition="ios" nav-direction="enter">导入客户资料</a>
      </div>
    </div>
  </ion-nav-title>
  <ion-content>
  	<div class="list">
	  <div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="请输入要查找的客户姓名">
	    </label>
	  </div>
	  <div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="请输入你要查找的客户的电话号码（必填）">
	    </label>
	  </div>
	  <div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="请输入你要查找客户毕业的学校">
	    </label>
	  </div>
	  <div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="Email">
	    </label>
	  </div>
	  <div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="Email">
	    </label>
	  </div>
	</div>
	<div class="text-center tip">
		<h2>客户更详细的资料导入</h2>
		<p>文件形式导入（支持pdf格式文件）</p>
	</div>
	
	<div class="button button-positive btn">确定导入</div>
  </ion-content>
</ion-view>