<ion-view id="infoDetail" hide-tabs="true">
	<ion-nav-title>
		<div class="bar bar-positive">
			<div class="button-bar nav-bar">
				<input style="margin-top:1px; text-align:center; height:32px; width:100%; border-radius:9px;" type="text" placeholder="请选择地址 | 请输入您要找的人脉">
				<a href="#tab/twoTab" style="height:32px; line-height: 32px;">
					<span style="font-size:16px">取消</span>
				</a>
			</div>
		</div>
	</ion-nav-title>
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<h2>客户的基本资料</h2>
			</div>
			<div class="item item-text-wrap">
				<p class="c_name">姓名：郭世江</p>
				<p class="c_genter">性别：男</p>
				<p class="c_phone">电话：13843574289</p>
				<p class="c_companies">公司：北京市卡得集团</p>
				<p class="c_school">学校：哈哈哈哈尔比大学</p>
			</div>
			<div class="item item-divider">
				<h2>客户爱好</h2>
			</div>
			<div class="item item-text-wrap">
				户外运动，看书，书法，泡妞，去夜店，喝酒，打牌，登山，写作
			</div>
			<div class="item item-divider">
				<h2>可能你还想了解</h2>
			</div>
			<div class="item item-text-wrap">
				<a href="">他的人脉</a>
				<a href="">他的周末安排</a>
				<a href="">他的生日</a>
			</div>
		</div>
	</ion-content>
</ion-view>