<ion-view hide-tabs="true">
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button">我的反馈</a>
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="bg-gray xn-content">
    <ion-list>

      <ion-item class="item-remove-animate>
       <div class=" item-avatar " >
          <p class="contact-item-content-title " style="max-height:20px ">名片快速识别需要多长时间</p>
          <p class="contact-item-content " style="font-size:13px ">已处理</p>
        </div>
      </ion-item>
    </ion-list>

    <div class="class=c ompany-auth-button gap-100 ">
      <button class="auth-button ">我要反馈</button>
    </div>

  </ion-content>

</ion-view>