<ion-view>
  <ion-nav-title>
    <div class="bar">
      <div class="button-bar nav-bar">
        <a class="button" nav-transition="ios" nav-direction="enter"></a>
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="bg-gray">
    <div class="my-info">
      <div class="login-img">
       <span class="cirle">
          <img ng-src="../img/ben.png" alt="">
        </span>
        <div class="my-info-profile">
          <p class="name-title">郭世江</p>
          <p class="personal-info gap-6">架构师  卡得链认证</p>
          <p class="personal-info gap-6">北京问我科技有限责任公司</p>
        </div>
        <div class="block-chain-info gap-30">
          <div>卡得助力您的商业梦想</div>
          <div>完善名片信息</div>
        </div>
      </div>
    </div>

    <div class="list gap-4">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/queryCompany" class="item item-icon-left item-icon-right">
        <i class="icon ion-card-compnay"></i> <span class="font-card">企业查询</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

    <div class="list gap-4">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/queryCompany" class="item item-icon-left item-icon-right">
        <i class="icon ion-company-query"></i> <span class="font-card">客户资料查询</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

    <div class="list  gap-4">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/recommend" class="item item-icon-left item-icon-right">
        <i class="icon ion-like"></i> <span class="font-card">推荐给好友</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

    <div class="list  gap-4">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/setup" class="item item-icon-left item-icon-right">
        <i class="icon ion-setup"></i> <span class="font-card">设置</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>

    <div class="list gap-4">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/helpFeedBack" ng-click='vm.findHelpInfo()' class="item  item-icon-left item-icon-right">
        <i class="icon ion-help-and-feedback"></i> <span class="font-card">帮助</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

      <div class="list gap-4">
        <a nav-transition="ios" nav-direction="forward" href="#/tab/feedBack" class="item  item-icon-left item-icon-right">
          <i class="icon ion-feedback"></i> <span class="font-card">反馈</span>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
      </div>
  </ion-content>
</ion-view>
