<ion-view>
  <ion-nav-title>
    <div class="bar">
      <div class="button-bar nav-bar">
        <a class="button" nav-transition="ios" nav-direction="enter">我的</a>
      </div>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <i  class="icon-size-min" ui-sref="rsc.common_publish_type">编辑</i>
</ion-nav-buttons>
  <ion-content class="bg-gray bg-mine">
    <div class="my-info">
      <div class="login-img">
       <span class="cirle">
          <img ng-src="img/ben.png" alt="">
        </span>
        <div class="my-info-profile">
          <p class="name-title "   telnum='13261886450'>{{vm.query.resData.name || '马云'}} <span class="zhi">{{vm.query.resData.position}}</span> </p>
          <p class="personal-info" >{{vm.query.resData.companyName || '天津木姜子科技'}}</p>
          <p class="personal-info">{{vm.query.resData.companyAddress}}</p>
        </div>
        <div class="block-chain-info gap-10 mankeep-tag" ng-repeat="itemTag in vm.query.advanceData track by $index">
          <div>{{itemTag}}</div>
        </div>
      </div>
    </div>

    <div class="list gap-20">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/queryCompany" class="item item-icon-left item-icon-right">
        <i class="icon ion-card-compnay"></i> <span class="font-card">企业查询</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

    <div class="list">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/queryCompany" class="item item-icon-left item-icon-right">
        <i class="icon ion-company-query"></i> <span class="font-card">客户资料查询</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

    <div class="list  gap-10">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/recommend" class="item item-icon-left item-icon-right">
        <i class="icon ion-like"></i> <span class="font-card">推荐给好友</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

    <div class="list  gap-10">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/setup" class="item item-icon-left item-icon-right">
        <i class="icon ion-setup"></i> <span class="font-card">设置</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>

    <div class="list gap-4">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/helpFeedBack" ng-click='vm.findHelpInfo()' class="item  item-icon-left item-icon-right">
        <i class="icon ion-help-and-feedback"></i> <span class="font-card">帮助</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
      <div class="list gap-4">
        <a nav-transition="ios" nav-direction="forward" href="#/tab/feedBack" class="item  item-icon-left item-icon-right">
          <i class="icon ion-feedback"></i> <span class="font-card">反馈</span>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
      </div>
      <div class="list gap-4" xn-call>
        <a nav-transition="ios" nav-direction="forward" class="item  item-icon-left item-icon-right">
          <i class="icon ion-feedback"></i> <span class="font-card">测试打电话</span>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
      </div>
      <div class="list gap-4" smdk-img-tool>
        <a nav-transition="ios" nav-direction="forward" class="item  item-icon-left item-icon-right">
          <i class="icon ion-feedback"></i> <span class="font-card">测试上传图片</span>
          <i class="icon ion-ios-arrow-right"></i>
        </a>
      </div>
  </ion-content>
</ion-view>
