<ion-view hide-tabs="true">
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button">帮助</a>
      </div>
    </div>
  </ion-nav-title>
  <ion-content class="bg-gray xn-content">
    <ion-list ng-repeat='item in vm.query.data'>
      <ion-item class="item-remove-animate" ui-sref='tab.helpDetail({id:item.id})'>
          <p class="contact-item-content-title contact-item-content" style="max-height:20px ">{{item.helpTitle}}</p>
          <p class="contact-item-content">时间: {{item.createTime}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
