<ion-view hide-tabs="true">

  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button">我的公司</a>
      </div>
    </div>
  </ion-nav-title>

  <ion-content class="bg-gray xn-content">
    <div class="company-title  gap-1">
      <div style="margin-left: 10px">
        <span>卡得链诚邀您认证您的公司</span>
      </div>
    </div>

    <div class="company-auth">
      <div class="gap-1 company-one-img">
        <p class="company-item-content">1.提升企业的可信度</p>
      </div>
      <div class="gap-1 company-two-img">
        <p class="company-item-content">2.提前让客户获知你的信息</p>
      </div>
      <div class="gap-1 company-three-img">
        <p class="company-item-content">3.提升企业的曝光度</p>
      </div>
      <div class="gap-1 company-four-img">
        <p class="company-item-content">4.区块链认证你的企业</p>
      </div>
    </div>

    <div class="class = company-auth-button gap-100">
      <a href="#/tab/authCompany">
        <button class="auth-button">去认证</button>
      </a>
    </div>

  </ion-content>

</ion-view>