<ion-view hide-tabs="true">
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button">推荐给好友</a>
      </div>
    </div>
  </ion-nav-title>

  <ion-content class="bg-gray xn-content">
    <div class="qr-code">
      <div>
        <img class="qr-code-img" ng-src="../img/recomment-one.png">
      </div>
      <div>
        <p>扫码下载卡得APP</p>
      </div>
    </div>

    <ul class="recommend-bottom gap-5">
      <li>
        <img ng-src="../img/recomment-two.jpg">
      </li>
      <li>
        <img ng-src="../img/recomment-three.jpg">
      </li>
      <li>
        <img ng-src="../img/recomment-four.jpg">
      </li>
    </ul>

  </ion-content>

</ion-view>