<ion-view hide-tabs="true">
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button">设置</a>
      </div>
    </div>
  </ion-nav-title>

  <ion-content class="bg-gray xn-content">
    <ion-content class="bg-gray xn-content has-footer">
      <div class="list gap-4">
        <a nav-transition="ios" nav-direction="forward" href="#" class="item item-icon-right">
          <span class="font-card">密码修改</span>
        </a>
      </div>

      <div class="list gap-4">
        <a nav-transition="ios" nav-direction="forward" href="#" class="item item-icon-right">
          <span class="font-card">手机号码修改</span>
        </a>
      </div>

      <div class="list gap-4">
        <a nav-transition="ios" nav-direction="forward" href="#" class="item item-icon-right">
          <span class="font-card">忘记密码</span>
        </a>
      </div>

      <div class="list gap-4">
        <a nav-transition="ios" nav-direction="forward"  href="#/tab/aboat" class="item item-icon-right">
          <span class="font-card">关于</span>
        </a>
      </div>

    </ion-content>

</ion-view>
