
<ion-tabs class="tabs-icon-top tabs-color-active-positive bg-tab" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <ion-tab title="名片" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" nav-transition="ios" nav-direction="enter" href="#/tab/first">
    <ion-nav-view name="tab-first"></ion-nav-view>
  </ion-tab>

  <ion-tab title="人脉" icon-off="ion-ios-rewind" icon-on="ion-ios-rewind-outline" nav-transition="ios" nav-direction="enter" href="#/tab/two">
    <ion-nav-view name="tab-two"></ion-nav-view>
  </ion-tab>

  <ion-tab title="上传" icon-off="ion-ios-camera-outline" icon-on="ion-camera" nav-transition="ios" nav-direction="enter" href='#/tab/upFile'>
      <ion-nav-view name="tab-up"></ion-nav-view>
  </ion-tab>
<!-- 
  <ion-tab title="卡得学院" icon-off="ion-document" icon-on="ion-document-text" nav-transition="ios" nav-direction="enter" href="#/tab/three">
    <ion-nav-view name="tab-three"></ion-nav-view>
  </ion-tab> -->

  <ion-tab title="我的" icon-off="ion-ios-shuffle" icon-on="ion-ios-shuffle-strong" nav-transition="ios" nav-direction="enter"
    href="#/tab/four">
    <ion-nav-view name="tab-four"></ion-nav-view>
  </ion-tab>
</ion-tabs>