<ion-view hide-back-button='true' id="assist">
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button">卡得学院</a>
      </div>
    </div>
  </ion-nav-title>
  <ion-content class='bg-gray'>
    <ion-refresher pulling-text="下拉刷新..." on-refresh="vm.doRefresh()">
    </ion-refresher>

    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval=3000 show-pager="true">
      <ion-slide>
        <img src="img/libbook.png" class="img-responsive">
      </ion-slide>
      <ion-slide>
        <img src="img/libbookone.png" class="img-responsive">
      </ion-slide>
      <ion-slide>
        <img src="img/libbooktwo.png" class="img-responsive">
      </ion-slide>
    </ion-slide-box>

    <div class="list">
      <div class='item_box item  padding-none'>
        <div class="row row-wrap xn-first">
          <div class='col col-20 ' ui-sref='tab.homeWork'>
            <span class='icon_box icon_bg'>
              <img src="img/icon_Activities.png" alt="">
            </span>
            <h4>活动专区</h4>
          </div>
          <div class='col col-20 ' ui-sref='tab.customerInfo'>
            <span class='icon_box icon_bg'>
              <img src="img/icon_Business.png" alt="">
            </span>
            <h4>商务动态</h4>
          </div>
          <div class='col col-20 ' ui-sref='tab.industryUser'>
            <span class='icon_box icon_bg'>
              <img src="img/icon_Tools.png" alt="">
            </span>
            <h4>辅助工具</h4>
          </div>
          <div class='col col-20 ' ui-sref='tab.recruitment'>
            <span class='icon_box icon_bg'>
              <img src="img/icon_Sales.png" alt="">
            </span>
            <h4>销售培训</h4>
          </div>
          <div class='col col-20 ' nav-transition="ios" nav-direction="enter" ui-sref='tab.qiyechaxun'>
            <span class='icon_box icon_bg'>
              <img src="img/icon_Customer.png" alt="">
            </span>
            <h4>客户查询</h4>
          </div>
        </div>
        <div class="advertis">
          <img src="img/icon_reports.png" alt="" class="ad-img">
          <ul class="ad-article">
            <li>卡得集团荣获2019年百佳</li>
            <li>卡的集团与阿里巴巴合作开发人工智能电动车</li>
          </ul>
        </div>
      </div>
    </div>

    <ul class="row third-bar text-center my-order">
      <li nav-transition="ios" nav-direction="enter" ng-class="{'active':vm.dele.tab=='new'}" ng-click="vm.changeTag('new')"
        class="col">商业快讯 </li>
      <li nav-transition="ios" nav-direction="enter" ng-class="{'active':vm.dele.tab=='recommend'}" ng-click="vm.changeTag('recommend')"
        class="col">创业创新 </li>
      <li nav-transition="ios" nav-direction="enter" ng-class="{'active':vm.dele.tab=='hot'}" ng-click="vm.changeTag('hot')"
          class="col">行业报告 </li>
    </ul>
    <div class="list">
    <a class="item item-thumbnail-right item-card" href="javascipt:;" ng-repeat="item in [1,2,3]">
      <img src="img/company-four.png">
      <h2 class="article-title">港媒：盲目排挤华为西方公司陷入了窘境</h2>
      <p class="article-type"><span>科技</span><span>体育</span></p>
      <p class="article-view-count">
        <span>23分钟前</span>
        <span class="icon"><img src="img/icon_Watch.png" alt="">100</span>
        <span class="icon"><img src="img/icon_Praise.png" alt="">500</span>
      </p>
    </a>
</div>
  </ion-content>
</ion-view>
