<ion-view>
  <ion-nav-title>
    <div class="bar">
      <div class="button-bar nav-bar">
        <a class="button" nav-transition="ios" nav-direction="enter">辅销资料</a>
      </div>
    </div>
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-toggle ng-model="settings.enableFriends">
        开干
      </ion-toggle>
    </ion-list>

    <add minor class="col-md-2 col-md-offset-3">
      <div>次数: {{ count }}</div>
      <figure></figure>
    </add>
    <hui-sz></hui-sz>
    <add>
      <jie-ru-sz></jie-ru-sz>
    </add>

  </ion-content>
</ion-view>