<ion-view hide-tabs="true" id="tab_two_detail">
	<ion-nav-title>
		<div class="bar bar-positive">
			<div class="button-bar nav-bar">
				<a class="button" nav-transition="ios" nav-direction="enter">人脉详情</a>
			</div>
		</div>
	</ion-nav-title>
	<ion-content class="bg-gray xn-content">
		<div class="mkeep-detail">
			<div class="mankeep">
				<div class="mankeep-pho">
					<div class = "mankeep-pho-img">
						<img class="pho-img" ng-src="img/ben.png">
					</div>
				</div>
				<div class="mankeep-info">
					<div class="mankeep-info-pname">
						<div class="info-name"><p>{{vm.query.mkeepName}}</p></div>
						<div class="info-position"><p>{{vm.query.mkeepBusiness}}</p></div>
					</div>
					<div class="mankeep-company"><p>天津木姜子科技有限公司</p></div>
					<div class="mankeep-address"><p>{{vm.query.mkeepAddress}}</p></div>
				</div>
				<div class="mankeep-tag" ng-repeat="itemTag in vm.query.tagData track by $index" >
					<div>{{itemTag}}</div>
				</div>
			</div>
		</div>

		<div class="bottom-boxs-space"></div>
		<div class="item item-body bottom-boxs">
			<div class="img-box">
				<!-- <img class="item-img" src="img/QRcode.png" alt=""> -->
				<qrcode data="{{vm.query.scone}}" size="150"></qrcode>
				<span style="color:#254bb2; font-size:20px; margin-top:5px;">{{vm.query.mkeepName}}</span>
				<span class="item-box-span" style="font-size:17px">{{vm.query.mkeepAddress}}</span>
			</div>
			<div class="list-footer">
				<div class="item div-item gap-10" xn-call telnum='{{vm.query.mkeepPhone}}'>手机号码: {{vm.query.mkeepPhone}}</div>
				<div class="item div-item" xn-call telnum='{{vm.query.mkeepTelphone}}'>电话号码: {{vm.query.mkeepTelphone}}</div>
				<div class="item div-item">微信: {{vm.query.mkeepWeichat}}</div>
				<div class="item div-item">QQ: {{vm.query.mkeepQq}}</div>
				<div class="item div-item">邮箱: {{vm.query.mkeepMail}}</div>
				<div class="item div-item">添加时间: {{vm.query.createTime}}</div>
			</div>
		</div>
		<div class="bottom-boxs-space"></div>
		<div class="weichat-button"></div>
	</ion-content>
</ion-view>
