<ion-view hide-tabs="true" id="tab_two_detail">
	<ion-nav-title>
		<div class="bar bar-positive">
			<div class="button-bar nav-bar">
				<a class="button" nav-transition="ios" nav-direction="enter">人脉详情</a>
			</div>
		</div>
	</ion-nav-title>
	<ion-content>
		<ion-card>
			<div class="mkeep-detail">
				<div class="mankeep">
					<div class="mankeep-pho">
						<div class = "mankeep-pho-img">
							<img class="pho-img" ng-src="../img/ben.png">
						</div>
					</div>
					<div class="mankeep-info">
						<div class="mankeep-info-pname">
							<div class="info-name">
								<p>{{vm.query.mkeepName}}</p>
							</div>
							<div class="info-position">
								<p>{{vm.query.mkeepBusiness}}</p>
							</div>
						</div>
						<div class="mankeep-company">
							<p>{{item.mkeepCompany}}</p>
						</div>
						<div class="mankeep-address">
							<p >{{vm.query.mkeepAddress}}</p>
						</div>
						<div class="mankeep-tag">
							<p>{{vm.query.mkeepTag}}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="mkeep-information-space"></div>
			<div class="mkeep-information">

				<div class="mankeep-information-item-img">
					<div class="mkeep-item-img">
						<div class="item-mkeep-img-space"></div>
						<div class="item-mkeep-img"><img style="width:85px; height:85px" src="../img/ben.png"/></div>
						<div class="item-mkeep-img-space"></div>
					</div>
					<div><p>{{vm.query.mkeepName}}</p></div>
					<div><p>{{vm.query.mkeepAddress}}</p></div>
				</div>

				<div class="mankeep-information-item">
					手机号码: {{vm.query.mkeepPhone}}
				</div>
				<div class="mankeep-information-item">
					电话号码: {{vm.query.mkeepTelphone}}
				</div>

				<div class="mankeep-information-item">
					微信: {{vm.query.mkeepWeichat}}
				</div>

				<div class="mankeep-information-item">
					QQ: {{vm.query.mkeepQq}}
				</div>

				<div class="mankeep-information-item">
					邮箱: {{vm.query.mkeepMail}}
				</div>

				<div class="mankeep-information-item">
					添加时间: {{vm.query.createTime}}
				</div>
			</div>
			<div class="mkeep-information-space"></div>
		</ion-card>
	</ion-content>
</ion-view>
