<ion-view hide-back-button='true'>
  <ion-nav-title>
    <div class="bar">
      <div class="button-bar nav-bar">
        <a class="button" nav-transition="ios" nav-direction="enter">我的人脉</a>
        <!-- <a class = "ion-interpersonal-connections" ></a> -->
      </div>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="right" >
    <i style="line-height: 50px"  class="ion-size ion-interpersonal-connections" ui-sref='tab.interpesonSearch'></i>
</ion-nav-buttons>
  <ion-content class='bg-gray bg-mine'>
     <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>

    <div class="text-center gap-50" ng-if="vm.dele.isLoading">
      <h4 class="text-gray">数据加载中...</h4>
    </div>

    <div class="text-center gap-30" ng-if="!vm.dele.isLoading && vm.query.data.length == 0">
      <h4 class="text-gray">您当前暂无相应的人脉</h4>
      <h4 class="text-gray gap-5">请搜索您感兴趣的行业去认识您需要的人脉</h4>
      <h4 class="text-gray gap-5">卡得与您同在，助力您的梦想</h4>
    </div>
    <div  ng-repeat='item in vm.query.data track by $index'>
      <div class="item-ka" ui-sref='tab.detail({id:item.id})'>
        <div class="ka-box clearFix">
          <div class="ka-left">
              <img class="pho-img-item" ng-src="img/ben.png">
          </div>
          <div class="mankeep-info gap-10">
                <p>{{item.mkeepBusiness}}</p>
                <p>{{item.mkeepName}}</p>
                <li class="float-left gap-10" ng-class='{nogap:$index==0}' ng-repeat='tagItem in item.Tags track by $index'>
                    {{tagItem}}
                </li>
          </div>
          <div class="float-left gap-20 add-time">
            <span>{{item.createTime.split('-').join('.')}}</span>
          </div>

      </div>
    </div>

    <ion-infinite-scroll ng-if='vm.hasMore' icon="ion-loading-c" immediate-check="false" on-infinite="vm.loadMore()"> </ion-infinite-scroll>
  </ion-content>
</ion-view>
