<ion-view hide-nav-bar="true" hide-back-button="true" style="background-color:rgb(255, 255, 255)">
    <ion-nav-title>
        <div class="bar">
            <div class="button-bar nav-bar">
                <a class="button" nav-transition="ios" nav-direction="enter"></a>
            </div>
        </div>
    </ion-nav-title>
    <ion-content>
        <div class="login-banner">
            <img class="login-banner-img" src="img/banner.png" />
        </div>

        <div class="inputLogin">
            <div class= "login-input">
                <div class="login-input-img">
                    <img class="login-input-img-phnoe" src="img/icon_phone.png" />
                </div>
                <div class="input-items">
                    <input ng-model="vm.loginP.phone" type="text" placeholder="请输入您的手机号">
                </div>
            </div>

            <div class="login-input" >
                <div class="login-input-img">
                    <img class="login-input-img-code" src="img/icon_Code_xhdpi.png" />
                </div>
                <div class="input-items">
                    <input ng-model="vm.loginP.verifycode" type="text" placeholder="请输入手机号验证码">
                </div>
            </div>

        </div>

        <div class="forget-password">
            <div class="forget-password-left"><a href="#/loginPwd">账号密码登陆</a></div>
            <div class="forget-password-right"><a href="#">忘记密码</a></div>
        </div>

        <div class="login-register-button">
            <div class="insert-space"></div>
            <div class="login-button">
                <a href="#/registerPhone">注册</a>
            </div>
            <div class="insert-space"></div>
            <div class="register-button" ng-click="vm.loginByPhone()">
                <a>登陆</a>
            </div>
            <div class="insert-space"></div>
        </div>

        <div class="third-way">
            <div class="line-content">第三方登陆</div>
            <div class="third-part-icon">
                <div class="insert-space"></div>
                <div class="qq-button">
                    <img src="img/qq.png">
                </div>
                <div class="insert-space"></div>
                <div class="weichat-button" class="gap-20">
                    <img src="img/weichat.png">
                </div>
                <div class="insert-space"></div>
            </div>
        </div>
    </ion-content>
</ion-view>

