<ion-view hide-tabs="true">
    <ion-nav-title>
        <div class="bar bar-positive">
            <div class="button-bar nav-bar">
                <a class="button">填写名片基本数据</a>
            </div>
        </div>
    </ion-nav-title>

    <ion-content class="xn-content">
        <div  class="inputLogin gap-10">
            <div class= "gap-5" style="border-bottom:solid 1px #f2f2f2;">
                <input ng-model="vm.registerCtrl.realName" style="width:65%; height:42px; margin-left:3px;" type="text" placeholder="请输入您的名字">
            </div>
            <div class= "gap-5" style="border-bottom:solid 1px #f2f2f2;">
                <input ng-model="vm.registerCtrl.position" style="width:65%; height:42px; margin-left:3px;" type="text" placeholder="请输入您的职位">
            </div>
            <div class= "gap-5" style="border-bottom:solid 1px #f2f2f2;">
                <input ng-model="vm.registerCtrl.companyName" style="width:65%; height:42px; margin-left:3px;" type="text" placeholder="输入您的公司的名字">
            </div>
            <div class= "gap-5" style="border-bottom:solid 1px #f2f2f2;">
                <input ng-model="vm.registerCtrl.cardMark" style="width:65%; height:42px; margin-left:3px;" type="text" placeholder="请输入您的名片标签">
            </div>
            <div class= "gap-5" style="border-bottom:solid 1px #f2f2f2;">
                <input ng-model="vm.registerCtrl.personalMark" style="width:65%; height:42px; margin-left:3px;" type="text" placeholder="请输入您的个人标签">
            </div>

            <div ng-click="vm.enterCard()" class="gap-20">
                <button style="width:65%; height:38px; border: solid 1px #f2f2f2; background-color:white; font-size:18px; color:#0c60ee " >点击进入</button>
            </div>
        </div>
    </ion-content>
</ion-view>

