<ion-view hide-tabs="true">
    <ion-nav-title>
        <div class="bar bar-positive">
            <div class="button-bar nav-bar">
                <a class="button">注册</a>
            </div>
        </div>
    </ion-nav-title>
    <ion-content class="xn-content">
        <div class="inputLogin gap-10">
            <div class= "register-input">
                <div class="register-input-imgs">
                    <img class="register-input-img-name" src="img/icon_name.png" />
                </div>
                <div class="register-input-items-other-card">
                    <input ng-model="vm.registerCtrl.realName" type="text" placeholder="请输入您的名字">
                </div>
            </div>

            <div class= "register-input">
                <div class="register-input-imgs">
                    <img class="register-input-img-name" src="img/icon_Company.png" />
                </div>
                <div class="register-input-items-other-card">
                    <input ng-model="vm.registerCtrl.companyName"  type="text" placeholder="输入您的公司的名字">
                </div>
            </div>

            <div class= "register-input">
                <div class="register-input-imgs">
                    <img class="register-input-img-name" src="img/icon_Position.png" />
                </div>
                <div class="register-input-items-other-card">
                    <input ng-model="vm.registerCtrl.position" type="text" placeholder="请输入您的职位">
                </div>
            </div>

            <div class= "register-input">
                <div class="register-input-imgs">
                    <img class="register-input-img-name" src="img/icon_Label.png" />
                </div>
                <div class="register-input-items-other-card">
                    <input ng-model="vm.registerCtrl.personalMark" type="text" placeholder="请输入您的个人标签">
                </div>
            </div>

            <div class="register-submit">
                <div ng-click="vm.enterCard()" class="register-submit-button">
                    <button >注册提交</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

