<ion-view hide-tabs="true">
    <ion-nav-title>
        <div class="bar bar-positive">
            <div class="button-bar nav-bar">
                <a class="button">注册</a>
            </div>
        </div>
    </ion-nav-title>

    <ion-content class="xn-content">
        <div  class="inputLogin gap-10">

            <div class="register-input">
                <div class="register-input-img">
                    <img class="register-input-img-phnoe" src="/img/icon_phone.png" />
                </div>
                <div class="register-input-items">
                    <input ng-model="vm.register.phone" type="text" placeholder="请输入您的手机号">
                </div>
                <div class="register-veryfy-code">
                    <span ng-click="vm.getCode()">获取验证码</span>
                </div>
                <div class="register-space"></div>
            </div>

            <div class= "register-input">
                <div class="register-input-imgs">
                    <img class="register-input-img-code" src="/img/icon_Code_xhdpi.png" />
                </div>
                <div class="register-input-items-other">
                    <input ng-model="vm.register.verifyCode" type="text" placeholder="请输入已获取的验证码">
                </div>
            </div>

            <div class= "register-input">
                <div class="register-input-imgs">
                    <img class="register-input-img-pwd" src="/img/icon_password.png" />
                </div>
                <div class="register-input-items-other">
                    <input ng-model="vm.register.password" type="password" placeholder="请输入密码">
                </div>
            </div>

            <div class= "register-input">
                <div class="register-input-imgs">
                    <img class="register-input-img-pwd" src="/img/icon_password.png" />
                </div>
                <div class="register-input-items-other">
                    <input ng-model="vm.register.confirmPwd" type="password" placeholder="请再次输入密码">
                </div>
            </div>
        </div>

        <div class="register-confirm">
            <div class="confirm-space-one"></div>
            <div class="register-buttons" ng-click="vm.registerInfo()">
                <span>下一步</span>
            </div>
            <div class="confirm-space-two"></div>
        </div>

    </ion-content>
</ion-view>

