<ion-view>
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button">名片</a>
      </div>
    </div>
  </ion-nav-title>

  <ion-content class="bg-gray xn-content">
    <div class="list gap-4">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/cardModel" class="item  item-icon-left item-icon-right">
        <i class="icon ion-card-model"></i>
        <span class="font-card">名片模板选择</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

    <div class="list gap-4">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/personalCard" class="item  item-icon-left item-icon-right">
        <i class="icon ion-card-personal"></i>
        <span class="font-card">个人名片</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

    <div class="list gap-4">
      <a nav-transition="ios" nav-direction="forward" href="#/tab/companyCard" class="item  item-icon-left item-icon-right">
        <i class="icon ion-card-compnay"></i>
        <span class="font-card">公司名片</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

  </ion-content>
</ion-view>