<ion-view>
	<ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <div class="bar bar-header item-input-inset" style='margin-top: -4px;'>
          <label class="item-input-wrapper" style="background: #fff">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="搜索名片">
          </label>
          <button class="button button-clear button-large"
          style="background: url(img/icon_Scanning.png) no-repeat center;width: 40px;height: 40px;background-size: 30px"></button>
        </div>
      </div>
    </div>
  </ion-nav-title>
	<ion-content class="bg-mine xn-content">
		<div class="book preserve-3d">
			<div class="list card list-card" ng-repeat="item in turnList" ng-class="{'mid':mid==$index,'left':$index < mid,'right':$index > mid,'animation1':next&&$index==turnFlag,'animation2':next&&$index==turnFlag+1,'animation3':next&&$index==turnFlag+2,'animation1-back':pre&&$index==turnFlag1-1,'animation2-back':pre&&$index==turnFlag1,'animation3-back':pre&&$index==turnFlag1+1}">
			  <div class="item item-body self-item-body">
			  	<div class="img-box">
			    	<img class="item-img" src="img/QRcode.png" alt="">
			    	<span style="font-weight: 600; color: blue">{{item.userCname}}</span>
			    	<span>{{item.companyCname}}</span>
			  	</div>
			    <div class="list-footer">
			    	<div class="item">{{item.name}}</div>
					<div class="item">职务: {{item.position}}</div>
					<div class="item">名片标签: {{item.cardMark}}</div>
					<div class="item">手机: {{item.phone}}</div>
			    	<div class="item">座机: {{item.telphone}}</div>
					<div class="item">公司业务: {{item.business}}</div>
					<div class="item">地址: {{item.companyCaddress}}</div>
			    </div>
			    <div class="opt-group">
			    	<button class="button btn-left" ng-click="prePage($index)"></button>
			    	<button class="button btn-right" ng-click="nextPage($index)"></button>
			    </div>
			  </div>
			</div>
			<div class="menu-card">
				<div class="item" ui-sref='tab.addCard'>手动添加名片</div>
				<div class="item">扫描纸质名片</div>
			</div>
		</div>
	</ion-content>
</ion-view>

