<ion-view>
	<ion-nav-title>
		<div class="bar bar-positive">
			<div class="button-bar nav-bar">
				<a class="button" nav-transition="ios" nav-direction="enter">我的名片</a>
			</div>
		</div>
  </ion-nav-title>
	<ion-content class="bg-mine xn-content">
		<div class="book preserve-3d">
			<div class="list card list-card" ng-repeat="item in turnList" ng-class="{'mid':mid==$index,'left':$index < mid,'right':$index > mid,'animation1':next&&$index==turnFlag,'animation2':next&&$index==turnFlag+1,'animation3':next&&$index==turnFlag+2,'animation1-back':pre&&$index==turnFlag1-1,'animation2-back':pre&&$index==turnFlag1,'animation3-back':pre&&$index==turnFlag1+1}">
			  <div class="item item-body self-item-body">
			  	<div class="img-box">
			    	<img class="item-img" src="img/QRcode.png" alt="">
			    	<span style="font-weight: 600; color: blue">{{item.userCname}}</span>
			    	<span>{{item.companyCname}}</span>
			  	</div>
			    <div class="list-footer">
			    	<div class="item">{{item.name}}</div>
					<div class="item">职务: {{item.position}}</div>
					<div class="item">名片标签: {{item.cardMark}}</div>
					<div class="item">手机: {{item.phone}}</div>
			    	<div class="item">座机: {{item.telphone}}</div>
					<div class="item">公司业务: {{item.business}}</div>
					<div class="item">地址: {{item.companyCaddress}}</div>
			    </div>
			    <div class="opt-group">
			    	<button class="button btn-left" ng-click="prePage($index)"></button>
			    	<button class="button btn-right" ng-click="nextPage($index)"></button>
			    </div>
			  </div>
			</div>
			<div class="menu-card">
				<div class="item" ui-sref='tab.addCard'>手动添加名片</div>
				<div class="item">扫描纸质名片</div>
			</div>
		</div>
	</ion-content>
</ion-view>

