.mankeep {
  width:100%;
  height:120px;
}

.mkeep-detail{
  border-bottom:1px solid #ccc;
  background-color:#ffffff;
  padding-top:25px;
  padding-left:16px;
  color:#00c3b2;
}

.mankeep-pho {
  width:32%;
  float:left;
  display:inline-block;
}

.mankeep-info {
  width:68%;
  float: left;
  display: inline-block;
}

.pho-img {
  width:90px;
  height:90px;
  display:flex;
  border-radius:50%;
  align-items:center;
  justify-content:center;
  overflow:hidden;
}
.mankeep-item-box {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:40vh;
    border-bottom:1px solid #ccc;
}

.mankeep-info-pname {
  width:100%;
  height:30px;
}

.info-name {
  float:left;
  display:inline-block;
}

.info-name p {
  font-size:21px;
  font-family: Roboto;
  color: #000000;
}

.info-position {
  float:left;
  margin-left:12px;
  display:inline-block;
}

.info-position p {
  font-size:16px;
}

.mankeep-company {
  margin-top:8px;
}

.mankeep-company p {
  font-size:16px;
}

.mankeep-address {
  margin-top:8px;
}

.mankeep-address p {
  font-size:16px;
}

.mankeep-tag{
    font-size: 15px;
    float:left;
    color: #515151;
    margin-left:10px;
}

.mankeep-tag div {
    height:28px;
    width:70px;
    line-height:28px;
    float:left;
    display:inline-block;
    border-radius:10px;
    text-align:center;
    border:1px solid #d9d9d9;
    margin-left:10px;
    color:#ad9e9e;
}

.mankeep-tag p {
  font-size:16px;
}

.mkeep-information {
    margin-top:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:#ffffff;
}

.mankeep-information-item-img {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:100%;
}

.mkeep-item-img {
    width:100%;
    height:85px;
    text-align:center;
}

.item-mkeep {
  padding-left:58px;
}

.contact-item-content{
  padding-left:9px;
  font-size:23px;
}

.contact-item-content-title {
  font-weight:bolder;
  font-size:28px;
}

.contact-item-content-server {
  padding-right: 1750px;
}

.item-avatar{
  padding-left: 0px;
}

.contact-line {
  border-bottom: solid 1px #f2f2f2;
}

.contact-info {
  font-size: 12px;
  color:#00c3b3;
}

.contact-comment {
  font-size: 12px;
  color:#00c3b3;
}

.interpersonal-connections-search {
  height: 70px;
  width: 100px;
  margin-top: 100px;
  background-color: white;
  border-width: 15px 5px 15px 5px;
  border-style: solid;
  border-radius: 15px;
  border-color: #000 #000 #000 #000;
}

.img_icon {
  width: 25px;
  float: left;
}

.search-recommend-content {
  height:100%;
  width:100%;
  background-color:white;
}

.search-recommend-content ul{
  padding-top:6px;
  margin:6px;
}

.search-recommend-content ul li{
  margin-top:6px;
  list-style:none;
  margin-left:6px;
  width:auto;
  display:inline;
  font-size:16px;
}

.recently-search {
    font-size: 18px;
    color:#ababab;
}

.recently-search-content {
    font-size: 15px;
    color: #515151;
    margin-left:10px;
}


.recently-search-content div{
    height:28px;
    width:70px;
    line-height: 28px;
    display:inline-block;
    border-radius:10px;
    text-align:center;
    border:1px solid #d9d9d9;
    margin-left:10px;
    color:#ad9e9e;
}
.recently-search-content div:first-child{
    margin-left:0px;
}

.bottom-boxs {
    margin-top:30px;
    width:80%;
    height:600px;
    float: left;
    display:inline-block;
}

.bottom-boxs-space {
    margin-top:30px;
    width:10%;
    height:600px;
    float:left;
    display:inline-block;
}

.chat-button {
    margin-top:30px;
}




