.img-box{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 200px;
	border-bottom:1px solid #ccc;
}
.img-box span{
	height: 25px;
	line-height: 25px;
	font-size: 16px;
}
.item-img {
	height: 120px;
	width:120px;
}
.list-footer .item{
	border-color: #fff;
}
.opt-group{
	display: flex;
	justify-content: space-between;
}
.opt-group button{
	height: 80px;
	width: 80px;
	border-radius: 50%;
}
.btn-left{
	background: url(../img/btn_Turn_normal.png) no-repeat center;
}
.btn-right{
	background: url(../img/btn_Change_normal.png) no-repeat center;
}
.list-card{
	position: absolute;
	width:100%;
}
.preserve-3d{
	transform-style: preserve-3d;
	perspective: 3000px
}
.list-card{
	transform: translate(100%,-50px) scale(.6) translateZ(-200px);
}
.list-card:nth-child(1){
	transform: translate(-70%,-50px) scale(.6) translateZ(-200px);

}
.list-card:nth-child(2){
	transform:translateY(-70px) scale(.7);
	

}
.list-card:nth-child(3){
	transform: translate(70%,-50px) scale(.6) translateZ(-200px);
}
.animation1{
	animation: pageTwo 1s 1;
	animation-fill-mode: forwards;
}
.animation2{
	animation: pageThree 1s 1;
	animation-fill-mode: forwards;
}
.animation3{
	animation: pageFour 1s 1;
	animation-fill-mode: forwards;
}
@keyframes pageTwo{
		from{
			transform:translateY(-70px) scale(.7);
		}
		to{
			transform: translate(-70%,-50px) scale(.6) translateZ(-200px);
		}
	}
@keyframes pageThree{
		from{
			transform: translate(70%,-50px) scale(.6) translateZ(-200px);
		}
		to{
			transform:translateY(-70px) scale(.7) translateZ(0px);
		}
	}
@keyframes pageFour{
		from{
			transform: translate(70%,-50px) scale(.6) translateZ(-200px);
		}
		to{
			transform: translate(70%,-50px) scale(.6) translateZ(-200px);
		}
	}
.menu-card{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 10px;
}
.menu-card .item{
	text-align: center;
	padding: 15px 0;
}
