.img-box{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width:100%;
	height:32vh;
	border-bottom:1px solid #ccc;
}
.img-box span{
	height: 25px;
	line-height:25px;
	font-size: 16px;
}

.item-box-span {
	font-size:21px;
	color: #888888;
}

.item-img {
	height:120px;
	width:120px;
}
.list-footer{
	flex: 1;
}
.list-footer .item{
	border-color: #fff;
}

.div-item {
	margin:0px;
	padding:0px;
	font-size:16px;
	margin-top:12px;
	color:#000000;
}

.self-item-body{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.opt-group{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0px;
}
.opt-group button{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-size: 100%;
}
.btn-left{
	background: url(../img/btn_CardLeft_normal.png) no-repeat center;
}
.btn-right{
	background: url(../img/btn_CardRight_normal.png) no-repeat center;
}
.list-card{
	position: absolute;
	width:100%;
	height:100vh;
}
.preserve-3d{
	transform-style: preserve-3d;
	perspective: 3000px
}
.list-card.left{
	transform: translate(-70%,-50px) scale(.6) translateZ(-200px);

}
.list-card.right{
	transform: translate(70%,-50px) scale(.6) translateZ(-200px);
}
.list-card.mid{
	transform:translateY(-70px) scale(.7);
}

.animation1{
	animation: pageTwo 1s 1;
	animation-fill-mode: forwards;
}
.animation2{
	animation: pageThree 1s 1;
	animation-fill-mode: forwards;
}
.animation3{
	animation: pageFour 1s 1;
	animation-fill-mode: forwards;
}
.animation1-back{
	animation: pageTwo1 1s 1;
	animation-fill-mode: forwards;
}
.animation2-back{
	animation: pageThree2 1s 1;
	animation-fill-mode: forwards;
}
.animation3-back{
	animation: pageFour3 1s 1;
	animation-fill-mode: forwards;
}
@keyframes pageTwo{
		from{
			transform:translateY(-70px) scale(.7);
		}
		to{
			transform: translate(-70%,-50px) scale(.6) translateZ(-200px);
		}
	}
@keyframes pageThree{
		from{
			transform: translate(70%,-50px) scale(.6) translateZ(-200px);
		}
		to{
			transform:translateY(-70px) scale(.7) translateZ(0px);
		}
	}
@keyframes pageFour{
		from{
			transform: translate(100%,-50px) scale(.6) translateZ(-200px);
		}
		to{
			transform: translate(70%,-50px) scale(.6) translateZ(-200px);
		}
	}
@keyframes pageTwo1{
		from{
			transform: translate(-70%,-50px) scale(.6) translateZ(-200px);
		}
		to{
			transform:translateY(-70px) scale(.7);
		}
	}
@keyframes pageThree2{
		from{
			transform:translateY(-70px) scale(.7) translateZ(0px);
		}
		to{
			transform: translate(70%,-50px) scale(.6) translateZ(-200px);
		}
	}
@keyframes pageFour3{
		from{
			transform: translate(-70%,-50px) scale(.6) translateZ(-200px);
		}
		to{
			
			transform: translate(-100%,-50px) scale(.6) translateZ(-200px);
		}
	}
.menu-card{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 10px;
}
.menu-card .item{
	text-align: center;
	padding: 15px 0;
}