
.book{
	position: relative;
	height: 250px;
	width: 100%;
	margin: 10px 0;
	transform: rotateX(5deg);
}
.book-page-box{
	position: absolute;
	height: 100%;
	width: 99%;
	top: 0;
	left: 0;
	transform-origin: 0 50%;
	border: 1px solid #ccc;
	background: url(../../img/cardbg.jpg) no-repeat;
	background-size: 100% 100%;
	padding: 10px;
	box-shadow: 1px 1px 1px #ccc;
	
}
.book-page-box:first-child{
	box-shadow: 2px 2px 1px #eee;
}
.preserve-3d{
	transform-style: preserve-3d;
}
@keyframes flipBook{
	0%{
		transform: perspective(3000px) rotateY(0deg);
	}
	100%{
		transform: perspective(3000px) rotateY(-180deg);
	}
}
.flip-animation{
	animation:flipBook 10s ease-in-out forwards;
}
.t_party{
	margin: 28px 0 10px;
	border-bottom: 1px solid #A5B0B9;
}
.qrlogo{
	display: flex;
	align-items: center;
}
.qrcode{
	height: 64px;
	width: 64px;
}
.logo{
	margin-left: 10px;
	flex: 1;
	height: 64px;
}
.person-label{
	width: 100%;
	margin:10px 0;
	display: flex;
	align-items: center;
	flex-wrap:wrap
}
.person-label span{
	margin: 4px 4px;
	background: #CCE4F7;
	color: #8BB0C2;
	padding: 5px;
	border-radius: 4px;
	
}
