.ion-card-model::before {
  content: url("../img/card-model.svg");
}

.ion-card-personal::before {
  content: url("../img/card-personal.svg");
}

.ion-card-compnay::before {
  content: url("../img/icon_Enterprise.png");
}

.ion-like::before {
  content: url("../img/icon_Elected.png");
}

.ion-setup::before {
  content: url("../img/icon_Setup.png") !important;
}

.ion-help-and-feedback::before{
  content: url("../img/icon_help.png");
}

.ion-feedback::before {
  content: url("../img/icon_Feedback.png") !important;
}

.ion-interpersonal-connections::before {
  content: url("../img/renmai-search.svg");
}

.ion-recently-search::before {
  content: url("../img/recently-search.svg");
}

.ion-search-recommend::before {
  content: url("../img/search-recommend.svg");
}

.ion-company-query::before {
  content: url("../img/icon_txt.png");
}

