.my-info{
  width: 100%;
  min-height: 150px;
  background-color: #fff;
  overflow: hidden;
}
.bg-mine{
  background-color: #f7f7f7;
}
.my-info .cirle{
  border-radius: 50%;
}
.my-info-profile{
  margin-left:110px;
  font-size:14px;
  margin-top: 20px;
}

.my-info-profile .name-title {
  font-size: 16px;
  color: #000;
}
.name-title .zhi{
  color:#515151;
  font-size: 14px;
}
.my-info-profile .personal-info {
  font-size: 12px;
  color:#515151;
}
.my-info-profile p {
  margin: 5px 0;
}

.block-chain-info {
  /* text-align: center; */
  font-size: 13px;
  color: #515151;
  margin-left: 10px;
}
.block-chain-info div{
  height: 28px;
  width: 70px;
  line-height: 28px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  border:1px solid #d9d9d9;
  margin-left: 10px;
  color:#ad9e9e;
}
.block-chain-info div:first-child{
  margin-left: 0px;
}
.gap-20{
  margin-top: 20px;
}
.gap-10{
  margin-top: 10px;
}
.list{
  border-color:#eee;
}
.ion-ios-arrow-right:before{
  color:#ccc;
}
.company-title {
  padding-top:6px;
  height:36px;
  width:100%;
  background-color:white;
  text-align:center;
  vertical-align:middle;
  font-size:16px;
}

.company-auth{
  text-align:center;
  background-color:white;
}

.company-auth .company-one-img {
  height: 150px;
  width:98%;
  margin-left:3px;
  background:url(../img/company-one.png) no-repeat;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  margin-top: 2px;
  background-size:100% 100%;
-moz-background-size:100% 100%;
}

.company-auth .company-two-img {
  height:160px;
  width:98%;
  margin-left:3px;
  background:url(../img/company-two.png) no-repeat;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  margin-top: 2px;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}

.company-auth .company-three-img {
  height: 150px;
  width:98%;
  margin-left:3px;
  background:url(../img/company-three.png) no-repeat;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  margin-top: 2px;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}

.company-auth .company-four-img {
  height: 150px;
  width:98%;
  margin-left:3px;
  background:url(../img/company-four.png) no-repeat;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  margin-top: 2px;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}

.company-item-content {
  text-align:center;
  vertical-align:center;
  font-size:20px;
  padding-top: 60px;
  color: white;
}

.company-auth-button {
  height: 120px;
  width: 100%;
  text-align: center;
}

.auth-button{
  -moz-border-radius:6px;
  -ms-border-radius:6px;
  -o-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px!important;
  height:40px;
  width:70%;
  font-size:20px;
  background-color:#00c3b2;
  color: white;
}

.qr-code {
  width: 100%;
  height: 250px;
  background-color: white;
  text-align: center;
  vertical-align: center;
}

.qr-code .qr-code-img {
  height: 120px;
  width: 120px;
  margin-top:48px;
}

.qr-code .qr-conde-content{
  padding-top: 252px;
}

.recommend-bottom {
  /* width: 100%; */
  height: 120px;
  background-color: white;
  overflow: hidden;
  text-align: center;
}

.recommend-bottom li {
  list-style:none;
  margin: 0px;
  padding: 0px;
  width: auto;
  display: inline-block;
  overflow: hidden;
  width: 25%;
}

.recommend-bottom li img {
  width: 100%;
}
.recommend-bottom li:last-child img{
  width: 95%;
}

.icon-size-min{
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}
